bbody,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #434343;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: row;
    padding: 15px;
    background-color: #3f3f3f;
    color: white;
    width: 100px;
    height: 100%;
}
.festival{
    border-radius: 5px;
    margin-left: 5px;
}
.zaglavie{
    font: cursive, Copperplate;
    margin-left: 5px;
    color: rgb(217, 217, 217);
}
.images
{
    direction: row;
}
.lego
{
    border-radius: 5px;
    margin-left: 5px;
}
.party{
    border-radius: 5px;
    margin-left: 5px;
}
.Zero{
    border-radius: 5px;
    margin-left: 5px;
}
.Br{
    border-radius: 5px;
    margin-left: 5px;
}
.rocket{
    border-radius: 5px;
    margin-left: 5px;
}